.blog-container {
  color: #646c74;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 100vh;
  box-shadow: inset 0px 15px 33px 0px rgba(0, 0, 0, 0.75);
  padding: 42px;

  .blog-squares {
    background-color: white;
    margin-top: 15px;
  }

  .admin-blog-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
      margin-left: 15px;
      cursor: pointer;
    }
  }

  .new-blog-link {
    position: fixed;
    right: 0;
    background-color: #eaebee;
    bottom: 0;

    a {
      font-size: 3em;
      cursor: pointer;
      color: #b9d452;
      margin-right: 15px;
      margin-bottom: 15px;
      transition: 0.3s ease-in-out;
      border: 1px solid black;

      &:hover {
        color: $dark-teal;
      }
    }
  }

  .content-container {
    display: flex;
    flex-direction: column;
    width: 75vw;
    height: auto;
    text-indent: 20px;

    a {
      text-decoration: none;
      color: rgb(61, 61, 124);
      transition: 0.3s ease-in-out;

      &:hover {
        color: black;
      }
    }

    h1 {
      font-size: 1.5em;
      background-color: #f5f6f7;
      margin-left: 15px;
      border-radius: 30px;
    }

    .featured-image-wrapper {
      img {
        margin: 15px 0px;
        width: 100%;
        height: 350px;
        border-radius: 5px;
        object-fit: cover;
      }
    }
  }
}
