@import url('https://fonts.googleapis.com/css?family=Cedarville+Cursive&display=swap');

html {
  background-color: rgb(2, 2, 25);
}

.homepage-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;

  .filter-links {
    display: none;

    .btn {
      width: 100%;
      background-color: #4c5561;
      transition: ease-in-out 0.3s;

      &:hover {
        background-color: rgb(106, 120, 138);
      }

      &:active {
        background-color: rgb(106, 120, 138);
      }
    }
  }
}


.portfolio-home-header{
  display: grid;
  grid-template-columns: 1fr 0.5fr 1fr;
  gap: 10px;
  background-color: transparent;
  height: 600px;
  margin: 0px;

  img {
    width: 400px;
    margin-top: 65px;
  }
}

.css-typing {
  margin-top: 22%;
  color: white;
}

.css-typing p {
  border-right: .15em solid #0ff100;
  font-family: "Courier";
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  font-size: 2em;
  text-align: left;

}
.css-typing p:nth-child(1) {
  width: 100%;
  -webkit-animation: type 2s steps(40, end);
  animation: type 2s steps(40, end);
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.css-typing p:nth-child(2) {
  width: 100%;
  opacity: 0;
  -webkit-animation: type2 2s steps(40, end);
  animation: type2 2s steps(40, end);
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.css-typing p:nth-child(3) {
  width: 100%;
  opacity: 0;
  -webkit-animation: type2 2s steps(20, end);
  animation: type2 2s steps(20, end);
  -webkit-animation-delay: 5s;
  animation-delay: 4.1s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.css-typing p:nth-child(4) {
  width: 100%;
  opacity: 0;
  -webkit-animation: type3 2s steps(20, end), blink .5s step-end infinite alternate;
  animation: type3 2s steps(20, end), blink .5s step-end infinite alternate;
  -webkit-animation-delay: 6.5s;
  animation-delay: 6.5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@keyframes type {
  0% {
    width: 0;
  }
  99.9% {
    border-right: .15em solid #0ff100;
  }
  100% {
    border: none;
  }
}

@-webkit-keyframes type {
  0% {
    width: 0;
  }
  99.9% {
    border-right: .15em solid #0ff100;
  }
  100% {
    border: none;
  }
}

@keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: .15em solid #0ff100;
  }
  100% {
    opacity: 1;
    border: none;
  }
}

@-webkit-keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: .15em solid #0ff100;
  }
  100% {
    opacity: 1;
    border: none;
  }
}

@keyframes type3 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes type3 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
@-webkit-keyframes blink {
  50% {
    border-color: transparent;
  }
}

//contact page styles
.contact-bullet-points {
  background-color: #11016d;
  padding: 15px;
  border: 2px solid white;
  border-radius: 30px;
}

.content-page-wrapper {
  background-color: #f5f6f7;
  height: 100vh;
  width: auto;
}
.map {
  box-shadow: 0px 11px 17px 0px rgba(0, 0, 0, 0.75);
}
.content-page-wrapper > .left-column {
  box-shadow: inset -30px -1px 33px 0px rgba(0, 0, 0, 0.75);
}
.content-page-wrapper > .right-column {
  padding: 0px;
  // margin-top: 42px;
}
.content-page-wrapper > .right-column p {
  font-size: 20px;
  text-align: center;
  margin-right: 75px;
  margin-left: 75px;

}

.header-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 42px;
}

.parallax-effect-swirly {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 250px;
  color: white;
  border-radius: 100%;
}

.parallax-effect {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  color: white;


  transform-style: preserve-3d;
  .inner-element {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    font-style: italic;
    color: white;
    transform: translateZ(60px);

    h3 {
      color: white;
      margin-top: 0px;
    }
  }
}


.icon {
  font-size: 2em;
  color: turquoise;
  transition: ease-in-out 0.3s;

  &:hover {
    color: white;
  }
}

.bullet-point-group {
  display: flex;
  margin: 15px;
}

.text {
  font-size: 1.5em;
  font-weight: 900;
  text-decoration: none;
  margin-left: 21px;
  color: white;
  transition: ease-in-out 0.3s;
}

.blue-social {
  text-decoration: none;
  color: black;
}

.blue-social img {
  width: 87px;
  margin: 0px;
  margin-bottom: 42px;
}

// home page container
// rotator
@import url(https://fonts.googleapis.com/css?family=Open+Sans:700);

// ============================================ VAR

.hoja {
  color: #dcdce2;
  position: absolute;
  top: 21%;
  left: 100%;
  margin-left: -100%;
  margin-top: -30%;
  width: 280px;
  height: 280px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  line-height: 274px;
  -webkit-font-smoothing: antialiased;

  .myName {
    font-family: 'Cedarville Cursive', cursive;
    padding-right: 30px;
    font-size: 2em;
  }
}
.hoja:after,
.hoja:before {
  content: "";
  border-radius: 100%;
  position: absolute;
  top: 26px;
  left: -7px;
  width: 95%;
  height: 95%;
  -webkit-transform-origin: center center;
          transform-origin: center center;
}
.hoja:after {
  box-shadow: inset 0 17.5px 0 rgba(0, 183, 255, 0.6), inset 17.5px 0 0 rgba(0, 37, 250, 0.6), inset 0 -17.5px 0 rgba(0, 129, 250, 0.6), inset -17.5px 0 0 rgba(54, 0, 250, 0.6);
  -webkit-animation: rotar 2s -0.5s linear infinite;
          animation: rotar 2s -0.5s linear infinite;
}
.hoja:before {
  box-shadow: inset 0 17.5px 0 rgba(0, 250, 250, 0.6), inset 17.5px 0 0 rgba(0, 200, 200, 0.6), inset 0 -17.5px 0 rgba(0, 150, 200, 0.6), inset -17.5px 0 0 rgba(0, 200, 250, 0.6);
  -webkit-animation: rotarIz 2s -0.5s linear infinite;
          animation: rotarIz 2s -0.5s linear infinite;
}
@-webkit-keyframes rotar {
  0% {
    -webkit-transform: rotateZ(0deg) scaleX(1) scaleY(1);
            transform: rotateZ(0deg) scaleX(1) scaleY(1);
  }
  50% {
    -webkit-transform: rotateZ(180deg) scaleX(0.82) scaleY(0.95);
            transform: rotateZ(180deg) scaleX(0.82) scaleY(0.95);
  }
  100% {
    -webkit-transform: rotateZ(360deg) scaleX(1) scaleY(1);
            transform: rotateZ(360deg) scaleX(1) scaleY(1);
  }
}
@keyframes rotar {
  0% {
    -webkit-transform: rotateZ(0deg) scaleX(1) scaleY(1);
            transform: rotateZ(0deg) scaleX(1) scaleY(1);
  }
  50% {
    -webkit-transform: rotateZ(180deg) scaleX(0.82) scaleY(0.95);
            transform: rotateZ(180deg) scaleX(0.82) scaleY(0.95);
  }
  100% {
    -webkit-transform: rotateZ(360deg) scaleX(1) scaleY(1);
            transform: rotateZ(360deg) scaleX(1) scaleY(1);
  }
}
@-webkit-keyframes rotarIz {
  0% {
    -webkit-transform: rotateZ(0deg) scaleX(1) scaleY(1);
            transform: rotateZ(0deg) scaleX(1) scaleY(1);
  }
  50% {
    -webkit-transform: rotateZ(-180deg) scaleX(0.95) scaleY(0.85);
            transform: rotateZ(-180deg) scaleX(0.95) scaleY(0.85);
  }
  100% {
    -webkit-transform: rotateZ(-360deg) scaleX(1) scaleY(1);
            transform: rotateZ(-360deg) scaleX(1) scaleY(1);
  }
}
@keyframes rotarIz {
  0% {
    -webkit-transform: rotateZ(0deg) scaleX(1) scaleY(1);
            transform: rotateZ(0deg) scaleX(1) scaleY(1);
  }
  50% {
    -webkit-transform: rotateZ(-180deg) scaleX(0.95) scaleY(0.85);
            transform: rotateZ(-180deg) scaleX(0.95) scaleY(0.85);
  }
  100% {
    -webkit-transform: rotateZ(-360deg) scaleX(1) scaleY(1);
            transform: rotateZ(-360deg) scaleX(1) scaleY(1);
  }
}

// Media Queries
@media (max-width: 785px) {

  .img-text-wrapper:hover .subtitle {
    display: none;
  } 

  .hoja-loader:after,
  .hoja-loader:before {
    content: "";
    border-radius: 100%;
    position: absolute;
    top: -370px;
    left: 70px;
    width: 50%;
    height: 50%;
    -webkit-transform-origin: center center;
            transform-origin: center center;
  }
  
  .hoja:after, .hoja:before {
    // content: "";
    // border-radius: 100%;
    // position: absolute;
    // top: -370px;
    // left: 70px;
    // width: 95%;
    // height: 95%;
    // margin-bottom: 20px;
    // -webkit-transform-origin: center center;
    // transform-origin: center center;
    display: none;
  }

  h3 {
  // display: none;
  color: white;
  }

  .css-typing {
    display: none; // FIXME
    margin-top: -2%;
    font-size: 12px;
    width: 100%;
    order: 0;
  }

  .portfolio-home-header{
    display: flex;
    flex-direction: column;
    background-color: transparent;
    height: 600px;
    margin: 0px;
  
    img {
      width: 110%;
      margin-top: 65px;
    }
  }

  .parallax-effect-swirly {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 250px;
    color: white;
    border-radius: 100%;
  }
  
  .parallax-effect {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    color: white;
  
  
    transform-style: preserve-3d;
    .inner-element {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 35px;
      font-style: italic;
      color: white;
      transform: translateZ(60px);
  
      h3 {
        display: none;
      }
    }
  }

  .blue-social img {
    width: 87px;
    margin-bottom: 42px;
}


.contact-bullet-points {
  margin-top: 200px;
}

.content-page-wrapper {
  background-color: transparent;
  height: 100vh;
  width: auto;
  margin-top: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
}
  // portfolio item description from portfolio-detail.scss
  .portfolio-detail-wrapper .portfolio-detail-description-wrapper .description {
    width: 700px;
    font-size: 24px !important;
    padding: 0px 15px;
    margin-bottom: 50px;
  }
  .content-container {
    text-align: center;

    // media querires for navigation wrapper
  }
  .nav-wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 70px;

  }
  .nav-wrapper > .left-side {
    flex-direction: row;
    text-align: center;
    justify-content: center;
    padding: 0px;
    height: 70px;
    margin-top: 50px;


    a {
      padding: 0px;
      margin: -3px;
    }
  }

  .nav-wrapper > .right-side {
    flex-direction: column;
    height: 15px;
    margin-bottom: 7px;
    p {
      margin: 0;
    }

    a {
      color: rgb(0, 0, 68);
      font-weight: 700;
      margin: 0px;
      padding: 0px;
    }
  }

  .nav-wrapper > .nav-link-wrapper > .nav-link-active {
    color: #057cd9;
    border-bottom: 1px solid transparent;
    letter-spacing: 3px;
    margin: 10px;
  }
  .nav-wrapper .profile-picture-nav {
    display: none;
  }

  // home page media queries
  .portfolio-items-wrapper {
    grid-template-columns: 1fr;
    width: 98%;
  }

  .portfolio-item-wrapper {
    width: 100%;
  }

  .logo-wrapper {
    display: none;
  }

  // contact page media queries
  .content-page-wrapper .right-column {
    margin-bottom: 400px;
  }

  //about page media queries
  .about-container > .content-page-wrapper {
    background-color: rgb(2, 2, 25);

    display: flex;
    color: white;

    a {
      color: rgb(187, 184, 184);
    }
  }

  .about-container > .content-page-wrapper > .right-column {
    margin-top: 220px;
  }

  .header-container {
    margin: 0px;
  }

  .hoja {
    display: none;
  }
}
