.homepage-wrapper {
  display: grid;
  grid-template-columns: 1fr;

  .filter-links {
    display: flex;
    justify-content: space-around;

    .btn {
      width: 100%;
      background-color: #505b6a;
      transition: ease-in-out 0.3s;

      &:hover {
        background-color: rgb(106, 120, 138);
      }

      &:active {
        background-color: rgb(106, 120, 138);
      }
    }
  }
}

//about page styles
.content-page-wrapper {
  background-color: #f5f6f7;

}

.content-page-wrapper > .left-column {
  box-shadow: inset -30px -1px 33px 0px rgba(0, 0, 0, 0.75);
}

.content-page-wrapper > .right-column p {
  font-size: 20px;
  text-align: center;
}
