.homepage-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;

  .filter-links {
    display: flex;
    justify-content: space-around;

    .btn {
      width: 100%;
      background-color: #505b6a;
      transition: ease-in-out 0.3s;

      &:hover {
        background-color: rgb(106, 120, 138);
      }

      &:active {
        background-color: rgb(106, 120, 138);
      }
    }
  }
}

//about page styles
.content-page-wrapper {
  background-color: #f5f6f7;
  height: 100vh;
  width: auto;
}
.map {
  box-shadow: 0px 11px 17px 0px rgba(0, 0, 0, 0.75);
}
.content-page-wrapper > .left-column {
  box-shadow: inset -30px -1px 33px 0px rgba(0, 0, 0, 0.75);
}
.content-page-wrapper > .right-column {
  padding: 0px;
  margin-top: 42px;
}
.content-page-wrapper > .right-column p {
  font-size: 20px;
  text-align: center;
  margin-right: 75px;
  margin-left: 75px;
}

.icon {
  font-size: 2em;
  color: #505b6a;
  transition: ease-in-out 0.3s;

  &:hover {
    color: black;
  }
}

.bullet-point-group {
  display: flex;
  margin: 15px;
}

.text {
  font-size: 1.5em;
  font-weight: 900;
  text-decoration: none;
  margin-left: 21px;
  color: black;
  transition: ease-in-out 0.3s;
}

// Media Queries
@media (max-width: 785px) {
  .content-page-wrapper {
    background-color: #f5f6f7;
    height: 100vh;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 42px;
  }
  // portfolio item description from portfolio-detail.scss
  .portfolio-detail-wrapper .portfolio-detail-description-wrapper .description {
    width: 700px;
    font-size: 24px !important;
    padding: 0px 15px;
    margin-bottom: 50px;
  }
  .content-container {
    text-align: center;

    // media querires for navigation wrapper
  }
  .nav-wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    background-color: black;
  }
  .nav-wrapper > .left-side {
    flex-direction: row;
    text-align: center;
    justify-content: center;
    padding: 0px;
    margin-left: 17px;
    margin-bottom: 20px;
    background-color: black;

    a {
      margin: 0;
      color: white;
      // background-color: #505b6a;
      // color: white;
      // width: 100px;
      // border: 1px solid white;
    }
  }

  .nav-link-active {
    color: red;
  }
  .nav-wrapper > .right-side {
    flex-direction: column;
    height: 15px;
    margin-bottom: 7px;
    p {
      margin: 0;
    }

    a {
      color: white;
      margin: 0px;
      padding: 0px;
    }
  }
  .nav-wrapper > .nav-link-wrapper > .nav-link-active {
    color: #505b6a;
    border-bottom: 1px solid transparent;
    letter-spacing: 3px;
    margin: 10px;

    &:active {
      border-bottom: 1px solid transparent;
      margin: 10px;
    }
  }
  .nav-wrapper .profile-picture-nav {
    display: none;
  }

  // home page media queries
  .portfolio-items-wrapper {
    grid-template-columns: 1fr;
  }

  .logo-wrapper {
    display: none;
  }

  // contact page media queries
  .content-page-wrapper .right-column {
    margin-bottom: 400px;
  }

  //about page media queries
  .about-container > .content-page-wrapper {
    background-image: url(/static/assets/images/profile_pic.png);
    display: flex;
    color: white;

    a {
      color: rgb(187, 184, 184);
    }
  }

  .about-container > .content-page-wrapper > .right-column {
    margin-top: 205px;
  }
}
