.content-page-wrapper {
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: calc(100vh - 84px);

  .right-column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 100px;

    .bullet-points {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 21px;

      .bullet-point-group {
        display: flex;
        align-items: center;

        .text {
          font-size: 1.5em;
          font-weight: 900;
          text-decoration: none;
          margin-left: 21px;
          color: black;
          transition: ease-in-out 0.3s;

          &:hover {
            color: #505b6a;
          }

          &:active {
            color: black;
          }
        }
      }
    }
  }
}
