.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  background-color: #161616bf;
  height: 70px;
  border-bottom: 2px solid #047cd9;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100vw;

  .right-side p {
    margin-right: 30px;
    font-weight: 800;
  }

  .right-side {
    height: 100%;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;

    a {
      cursor: pointer;
      color: $teal;
      transition: 0.5 ease-in-out;
      height: 90px;
      text-decoration: none;
      text-align: center;
      justify-content: center;
      align-items: center;
      padding-right: 42px;
      padding-top: 10px;
      transition: ease-in-out 0.3s;

      &:hover {
        color: $dark-teal;
      }
    }
  }

  // .profile-picture-nav {
  //   width: auto !important;
  //   height: 90px;
  //   margin: 0;
  //   transition: 0.3s;
  //   border: 1px solid black;
  //   border-radius: 1px;
  //   cursor: pointer;
  //   margin-right: 9px;

  //   &:hover {
  //     border: 1px solid rgb(116, 116, 116);
  //     box-shadow: none;
  //   }
  // }

  .portfolio-text {
    color: blue;
    display: flex;
    align-self: flex-end;
  }

  .left-side {
    display: flex;
    height: 100%;
    background-color: transparent;
    margin: 25px;
    margin-top: 65px;
  }

  .chinese-symbol {
    font-size: 41px;
  }

  .nav-link-wrapper {
    height: 22px;
    border-bottom: 1px solid transparent;
    margin-right: 20px;
    font-size: 0.9rem;

    a {
      color: $offwhite;
      margin-top: 30px;
      text-decoration: none;
      font-weight: 600;
      font-size: 1.3em;
      transition: ease-in-out 0.2s;
      &:hover {
        color: #057dd9a4;
      }
    }

    .nav-link-active {
      // border-bottom: 1px solid black;
      color: #057cd9;
      font-size: 1.3em;
    }
  }
}

.go-to-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #727272;
  transition: ease-in-out 0.3s;
  font-weight: 600;
  width: 180px;

  &:hover {
    color: #505b6a;
    letter-spacing: 1px;
  }
}

