.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // padding: 30px;
  background-color: #3f4855;

  .right-side p {
    margin-right: 30px;
    font-weight: 800;
  }

  .right-side {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3px;
    background-color: #3f4855;
    .profile-picture-nav {
      width: 50%;
      border-radius: 100px;
      margin: 0px 15px 0px 6px;
      transition: 0.3s;
      cursor: pointer;
      box-shadow: 6px 9px 11px 0px rgba(0, 0, 0, 0.51);
      &:hover {
        box-shadow: none;
      }
    }
    a {
      margin-left: 15px;
      cursor: pointer;
      color: $teal;
      transition: 0.5 ease-in-out;

      &:hover {
        color: $dark-teal;
      }
    }
  }

  .portfolio-text {
    color: blue;
    display: flex;
    align-self: flex-end;
  }

  .left-side {
    display: flex;
    background-color: #dfe7f2;
    padding: 39px 60% 30px 30px;
  }

  .chinese-symbol {
    font-size: 41px;
  }

  .nav-link-wrapper {
    height: 22px;
    border-bottom: 1px solid transparent;
    margin-right: 20px;
    font-size: 0.9rem;

    a {
      color: black;
      text-decoration: none;
      font-weight: 600;
      font-size: 1.3em;
      transition: ease-in-out 0.2s;
      &:hover {
        color: #505b6a;
      }
    }

    &:hover {
      color: #505b6a;
    }

    .nav-link-active {
      border-bottom: 1px solid black;
      color: #505b6a;
      font-size: 1.5em;
      letter-spacing: 3px;
    }
  }
}

.go-to-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #3f4855;
  transition: ease-in-out 0.3s;
  font-weight: 600;
  width: 180px;

  &:hover {
    color: #505b6a;
    letter-spacing: 1px;
  }
}
