iframe {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 42px;
}

.pdf-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #55555a;
  height: 100vh;
  width: 100%;
  margin-top: 72px;
}
