.portfolio-items-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 55px;

  .portfolio-item-wrapper {
    position: relative;

    .portfolio-img-background {
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      height: 385px;
      border: 3px solid white;
      // border-bottom: 0px;
      width: 98%;
      border-radius: 30px;
      margin: 3px;
    }

    .img-text-wrapper {
      position: absolute;
      top: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      text-align: center;
      padding-left: 100px;
      padding-right: 100px;
      padding-top: 40px;

      .subtitle {
        transition: 1s ease-in-out;
        color: transparent;
      }
    }
    .img-text-wrapper:hover .subtitle {
      color: $teal;
      font-weight: 400;
      justify-content: center;
    }

    .logo-wrapper img {
      width: 50%;
      margin-bottom: 20px;
    }
  }
}

.image-blur {
  transition: 1s;
  filter: brightness(10%);
}
